<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesEditar.css">
    <title> Editar Productos</title>
    </head>

    <body>
        <a href=""><i class="fa-solid fa-circle-user"></i></a>
        <br>
        <br>
        
        <form action="/administrador/editProduct" method="POST" enctype="multipart/form-data">
            <p>Editar un producto</p>
            <label for="nombreProducto">Nombre del producto</label>
            <br>
            <input type="text" value="<%= product.nombre %>" required>
            <br>
            <br>
            <label for="descripcionProducto">Descripción del producto</label>
            <br>
            <textarea name="descripcionProducto" id="" cols="30" rows="10"><%= product.descripcion %></textarea></textarea>
            <br>
            <br>
            <label for="fotoProducto">Foto del producto</label>
            <br>
            <input type="file" name="fotoProducto" value="<%= product.fotoProducto %>" required>
            <br>
            <br>
            <br>
            <label for="precioProducto">Precio del producto</label>
            <br>
            <input type="number" value="<%= product.precioProducto %>" required>
            <br>
            <br>
            <label for="stockProducto">Stock</label>
            <br>
            <input type="number" value="<%= product.stockProducto %>" required>
            <br>
            <br>
            <label for="Condicion">Condición</label>
            <br>
            <select name="condicion" id="condicion">
                <option value="General">General</option>
                <option value="Destacado">Destacado</option>
            </select>
            <br>
           <br>
           <input class="editarProducto" type="submit" value="EDITAR PRODUCTO" >
            <br>
            <br>
            <input class="cancelar" type="reset" value="CANCELAR">
        </form>
<br>
        <form action="/administrador/eliminarProductoDelete/<%=product.id%>" method="post">
            <input class="editarProducto" type="submit" value="ELIMINAR">
            <br>
    </form>
    </body>


    </html>