<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesList.css">
    <title>Tinokitos Hora de Comer</title>
    </head>

    <body>

        <%- include("./partials/header") %>

            <main>

                <img class="banner-desktop" src="/imagenes/banner.jpg" alt="">

                <img class="banner-cel" src="/imagenes/banner-cel.jpg" alt="">
                <br>
                <section>

                    <div class="titulo">
                        <h1>Hora de Comer</h1>
                    </div>
                    <div class="contenedor-productos">
                        <% productosComer.forEach (producto=> { %>
                            <article>
                                    <img src="<%= producto.fotoProducto %>" alt="<%= producto.nombre %>">
                                    <div class="texto">
                                        <a href="/productos/productDetail/<%= producto.id %>">
                                        <h2>
                                            <%= producto.nombre %>
                                        </h2>
                                        <h3>
                                            <%= producto.precioProducto %>
                                        </h3></a>
                                    </div>
                            </article>
                            <% }) %>

                    </div>

            </main>

            <%-include("./partials/footer")%>

    </body>

    </html>