<%- include("./partials/head") %>

    <link rel="stylesheet" href="/css/stylesProductDetail.css">
    <title>Tinokitos Productos Detalle</title>
    </head>

    <body>
        <%-include("./partials/header")%>

            <main>
                <div class="dondeEstoy">
                    <p>Inicio > Detalle de Producto</p>
                </div>
                <div class="textos-todos">
                    <div class="cuadrado-foto">
                        <img class="coche-premium" src="<%= product.fotoProducto %>">
                    </div>

                    <div class="textos-productos">
                        <h2>
                            <%= product.nombre %>
                        </h2>


                        <p class="precio">
                            <%= product.precio %>
                        </p>
                        <div class="precio-cuotas">
                            <i class="fas fa-credit-card"></i>
                            <p class="cuotas-texto">6 cuotas sin interés</p>
                        </div>
                        <div class="cantidad-producto">
                            <label>Cantidad:</label>
                            <select name="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="boton-agregar">
                            <a href="../productCart"><button type="agregar-producto">Agregar al carrito</button></a>
                        </div>
                        <div>
                            <h3> Descripcion</h3>
                            <p>
                                <%= product.descripcion %>
                            </p>
                        </div>
                    </div>
                </div>

            </main>

            <footer>
                <div class="contenedorFooter">
                    <img class="logoFooter" src="/imagenes/logo.jpg" alt="logo">
                    <div class="footerProductos">
                        <p>Productos</p>
                        <a href="#">Hora de Dormir</a>
                        <a href="#">Hora de jugar</a>
                        <a href="#">Hora de Pasear</a>
                        <a href="#">Hora de Comer</a>
                    </div>
                    <div class="footerNosotros">
                        <p>Nosotros</p>
                        <a href="#">Filosofía</a>
                    </div>
                    <div class="footerContacto">
                        <p>Contacto</p>
                        <a href="#">Contacto</a>
                    </div>
                    <div class="footerContactanos">
                        <p>Contactanos!</p>
                        <div>Tel: 11-5566-5566<br>
                            Av. Alvear 1234<br>
                            hola@tinokitos.com.ar</div>
                    </div>
                    <div class="footerRedes">
                        <p>Seguinos en redes!</p>
                        <div class="iconosFooter"><i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-pinterest"></i>
                        </div>
                    </div>
            
            </footer>
    </body>


    </html>