<%- include("./partials/head") %>

    <link rel="stylesheet" href="/css/stylesProductDetail.css">
    <title>Tinokitos Productos Detalle</title>
    </head>

    <body>
        <%-include("./partials/header")%>
        
            <main>
                <div class="dondeEstoy">
                    <p>Inicio > Detalle de Producto</p>
                </div>
                <div class="textos-todos">
                    <div class="cuadrado-foto">
                        <img class="coche-premium" src="<%= product.fotoProducto %>">
                    </div>

                    <div class="textos-productos">
                        <h2>
                            <%= product.nombre %>
                        </h2>


                        <p class="precio">
                            <%= product.precio %>
                        </p>
                        <div class="precio-cuotas">
                            <i class="fas fa-credit-card"></i>
                            <p class="cuotas-texto">6 cuotas sin interés</p>
                        </div>
                        <div class="cantidad-producto">
                            <label>Cantidad:</label>
                            <select name="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="boton-agregar">
                            <button type="agregar-producto">Agregar al carrito</button>
                        </div>
                        <div>
                            <h3> Descripcion</h3>
                            <p>
                                <%= product.descripcion %>
                            </p>
                        </div>
                    </div>
                </div>

            </main>

            <%-include("./partials/footer")%>

    </body>


    </html>